@model EjemploPersonas.Models.Ciudad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
